/partitioner/mt-metis/*
/partitioner/patoh/*
/partitioner/hmetis/*
/partitioner/metis/*
/partitioner/chaco/*
/partitioner/scotch/*
/partitioner/mondriaan
/partitioner/zoltan/build/*
/scripts/logs/*
/scripts/zoltan_driver_temps/*
/scripts/parkway_hg_temps/*
/scripts/tmppartition*
/scripts/Mondriaan.defaults
/.vscode/*