[submodule "partitioner/parkway"]
	path = partitioner/parkway
	url = https://github.com/kittobi1992/parkway.git
[submodule "partitioner/kahypar"]
	path = partitioner/kahypar
	url = https://github.com/SebastianSchlag/kahypar.git
[submodule "partitioner/KaHIP"]
	path = partitioner/KaHIP
	url = https://github.com/yarchi/KaHIP.git
[submodule "partitioner/PaToHWrapper"]
	path = partitioner/PaToHWrapper
	url = https://github.com/floriangroetschla/WHFC.git
	branch = patoh_output_format
