[submodule "partitioner/parkway"]
	path = partitioner/parkway
	url = https://github.com/kittobi1992/parkway.git
[submodule "partitioner/kahypar"]
	path = partitioner/kahypar
	url = https://github.com/SebastianSchlag/kahypar.git
[submodule "partitioner/HYPE"]
	path = partitioner/HYPE
	url = https://github.com/larsgottesbueren/HYPE.git
[submodule "partitioner/mt-kahip"]
	path = partitioner/mt-kahip
	url = https://github.com/yarchi/KaHIP.git
